<nav class="pagination">
	<ul class="pagination__items flex justify-center space-x-2">

		{# Previous link #}
		{% if posts.pagination.prev %}
			<li class="pagination__item pagination__item--prev">
				<a href="{{ posts.pagination.prev.link }}"
					class="pagination__link {{
					posts.pagination.prev.link|length
						? ''
						: 'hidden'
					}}">
					Prev
				</a>
			</li>
		{% endif %}

		{# Main links #}
		{% for page in posts.pagination.pages %}
			<li class="pagination__item">
				{% if page.link %}
					<a href="{{ page.link }}" class="pagination__link {{ page.class }}">
						{{ page.title }}
					</a>
				{% else %}
					<span class="pagination__current {{ page.class }}">
						{{ page.title }}
					</span>
				{% endif %}
			</li>
		{% endfor %}

		{# Next link #}
		{% if posts.pagination.next %}
			<li class="pagination__item pagination__item--next">
				<a href="{{ posts.pagination.next.link }}"
					class="pagination__link {{
					posts.pagination.next.link|length
						? ''
						: 'hidden'
					}}">
					Next
				</a>
			</li>
		{% endif %}
	</ul>
</div>
