<!DOCTYPE html>
<html class="no-js" {{ site.language_attributes }}>
	{% block head %}
		{% include 'components/head.twig' %}
	{% endblock %}

	<body
		x-data="{ isMobileNavOpen: false }"
		:class="{ 'overflow-hidden': isMobileNavOpen }"
		class="{{ body_class }}"
		data-template="base.twig"
	>
		{{ function('wp_body_open') }}

		<a class="skip-link screen-reader-text" href="#main">
			{{ _e('Skip to content') }}
		</a>

		{% block header %}
			{% include 'components/header.twig' %}
		{% endblock %}

		<div class="app-content">
			<main id="main" class="app-main">
				{% block content %}
					{{ _e('Sorry, no content found.') }}
				{% endblock %}
			</main>

			{% if sidebar %}
				{% include 'components/sidebar.twig' %}
			{% endif %}
		</div>

		{% block footer %}
			{% include 'components/footer.twig' %}
		{% endblock %}

		{{ function('wp_footer') }}
	</body>
</html>
