{% extends 'layouts/base.twig' %}

{% block content %}
	<article id="post-{{ post.ID }}" {{ function('post_class') }}>
		<header class="post__header">
			<h1 class="post__title">{{ post.title }}</h1>
		</header>

		<div class="post__content">
			<form
				class="post__password-form"
				action="{{ site.site_url }}/wp-login.php?action=postpass"
				method="post"
			>
				<label for="password-input-{{ post.ID }}">
					{{ __('Password', 'luxe') }}
				</label>
				<input
					class="password-box"
					name="post_password"
					id="password-input-{{ post.ID }}"
					type="password"
					placeholder="{{ __('Password', 'luxe') }}"
					size="20"
					maxlength="20"
				/>
				<input
					class="button"
					type="submit"
					name="Submit"
					value="Submit"
				/>
			</form>
		</div>
	</article>
{% endblock %}
